/* scss variables */
$primary-color: #893168;
$secondary-color: #131200;
$tertiary-color: #EAEAEA;
$quaternary-color: #e935b9;
$border-radius: 2rem;
$gap: 2rem;
$padding: 2rem;

@mixin fixed-components($area,$direction,$color){
  grid-area: $area;
  position: fixed;
  background-color: $color;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  padding: $padding;
}

@mixin button-background($url, $position){
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin change-color-icon-hover($color, $url){
  &:hover{
    background-color: $color;
    background-image: url($url);
  }
}

@mixin hover(){
  transition: 1s;
  &:hover{
    box-shadow: 0 0 2rem .5rem $primary-color;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page{
  display: grid;
  gap: 2rem;
  grid-template-areas: 
    "head head"
    "nav content";
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem 1fr;
}

header {
  @include fixed-components(head, row, $primary-color);
  align-items: center;
  width: 100vw;
  height: 5rem;
}

.btn {
  width: 11rem;
  height: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  
}



nav {
  @include fixed-components(nav, column, $secondary-color);
  top: 5rem;
  

  
}

main {
  grid-area: content;
}

/* KEY FRAMES */

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem);
  }

  80% {
      transform: translateX(-1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}


@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
      opacity: 0;
      transform: translateY(-10rem);
  }

  80% {
      transform: translateY(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}