/* scss variables */
$navigation-color: #93E1D8;
$background-color: #DDFFF7;
$main-color: #028090;
$extra-color: #05668D;
$gap-32px: 2rem;


*{
  margin: 0;
  padding: 0;
}

#page{

  display: grid;
  grid-template-areas: 
    "head head"
    "nav  main"
  ;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem 1fr 6rem;
  gap: $gap-32px;
  background-color: $background-color;
}

ul li {
  list-style: none;
}

/* HEADER */
#page > header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-area: head;
  background-color: $navigation-color;
  gap: 1rem;
  padding: 0 4rem;
}

#page > nav{
  display: flex;
  flex-direction: row;
  grid-area: nav;
  background-color: $navigation-color;
  padding: 0 2rem;
}

/* Main section */
main {
  grid-area: main;
  background-color: $main-color;
  padding: 2rem;
}

main > h2{
  text-transform: capitalize;
}